body {
    background-image: url("pexels-toni-cuenca-585752.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

.headline{
    font-family: "Microsoft JhengHei", "PingFang";
    font-size: 42px; font-weight: bold;
    margin-bottom: 15px; text-align: center;
    color:whitesmoke;
}

.page_select{
    display: flex;
    justify-content: center;
}

.btn{
    font-family: "Microsoft JhengHei", "PingFang";
    font-size: 18px;
    font-weight: bold;
    margin: 12px;
    background-color: #39c5bc;
    padding: 8px;
    border-radius: 5px; /* 圓角 */
    cursor: pointer; /* 滑鼠游標 */
    /* text-decoration: underline; */
}

#answerSelect{
    display:none;
    margin: 12px;
}

.answer_space{
    display: flex;
    justify-content: center;
}

.answer{
    justify-content: center;
    background-color:bisque;
    display:none;
    padding: 1em 2em 2em;
    border: 2px dashed brown;
    color: dimgrey;
    word-wrap:break-word;
    text-align:center;
    width:50%;
}
.answerContent{
    text-align:left;
    line-height: 1.5;
    text-indent: 2em;
}

@media(max-width:500px){
    /* 螢幕不大於500px，套用此區 */

    .mobile_item{
        display: block;
    }
    .headline{
        font-size: 28px; margin-bottom: 10px; /* 更改文字大小 */
    }
    #answerSelect{
        display: block;
    }
    .btn{
        display:none;
    }
    .answer{
        width:90%;
    }
}